<div class="outer bg-gray-800 text-white p-3">
    <nav class="nav-bar flex items-center justify-between">
        <div class="logo-wrapper font-bold">
            <img class="h-14" src="/assets/logo.png" alt="logo">
        </div>
        <div class="space-x-4">
            <a routerLink="/" class="hover:text-pink-600">Home</a>
            <a routerLink="/products" class="hover:text-pink-600">Products</a>
            <a routerLink="/orders" class="hover:text-pink-600">Orders</a>
            <a routerLink="/cart" class="hover:text-pink-600">Cart</a>
            <a routerLink="/login" class="hover:text-pink-600">Login</a>
            <a routerLink="/track-order" class="hover:text-pink-600">Track My Order</a>
        </div>
    </nav>
</div>