<div class="outer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" class="form col-12">
                    <div class="form-group">
                        <input type="text" name="" id="" class="form-control" placeholder="Search Here">
                    </div>
                </form>
            </div>
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#Order ID</th>
                            <th>Date</th>
                            <th>Total Cost</th>
                            <th>Delivery Date (Estimate)</th>
                            <th>Show Details</th>
                            <th>Track Order</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#1235</td>
                            <td>2024-02-16</td>
                            <td>2500 LKR</td>
                            <td>2024-02-22</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Show</button></td>
                            <td><button type="button" class="btn btn-dark btn-sm">Track Now</button></td>
                        </tr>
                        <tr>
                            <td>#1235</td>
                            <td>2024-02-16</td>
                            <td>2500 LKR</td>
                            <td>2024-02-22</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Show</button></td>
                            <td><button type="button" class="btn btn-dark btn-sm">Track Now</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>