<app-main-slider></app-main-slider>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
            <app-product-view-card></app-product-view-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
            <app-product-view-card></app-product-view-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
            <app-product-view-card></app-product-view-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
            <app-product-view-card></app-product-view-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
            <app-product-view-card></app-product-view-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
            <app-product-view-card></app-product-view-card>
        </div>
    </div>
</div>